<h4>Post details:</h4>
<br />


<p><%= @row['content'] %></p>
<p>Added at <%= @row['created_date'] %></p>

<hr />
<br />
<h4>Comments:</h4>
<br />

<% @comments.each do |comment| %>
	<p><%= comment['content'] %></p>
	<p style="font-size: 75%; color: 999" >Added at: <%= comment['created_date'] %></p>
	<hr />
	<br />
<% end %>


<form action="/details/<%= @row['id'] %>" method="POST" role="form">
  <div class="form-group">
  	<input name="author" class="form-control" type="text" placeholder="Enter your name">
    <textarea name="user_comment" class="form-control" id="Textarea1" rows="7" placeholder="Leave your comment"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>
